# Normal npm stuff
npm-debug.log
/node_modules/
/.cache/
/dist/
/build/

# Bucklescript stuff
/lib
/types
.merlin
.bsb.lock
*.bs.js

.merlin
.bsb.lock
*.log
/lib
node_modules
/build/
**/*.bs.js
dist/
esy.lock
.cache
_esy
_build/.db
_build/.digest-db
_build/.filesystem-clock
_build/.to-delete-in-source-tree
_build/log
_build/.aliases/default/bsb_world-00000000000000000000000000000000
_build/.aliases/default/bsb_world-43c882e73206c34190dec664a5078cf0
_build/default/bsconfig.json
_build/default/.dune/.dune-keep
_build/default/.dune/configurator
_build/default/.dune/configurator.v2
_build/default/.melange.eobjs/TryStyledPpx.cmi
_build/default/.melange.eobjs/TryStyledPpx.cmj
_build/default/.melange.eobjs/TryStyledPpx.cmt
_build/default/.melange.eobjs/TryStyledPpx.mlmap
_build/default/src/App.re
_build/default/src/Index.re
_build/default/src/Route.re
_build/default/src/Route.rei
_build/default/src/Router.re
_build/default/src/components/Greet.re
_build/default/src/components/Input.re
_build/default/src/pages/Page_Home.re
_build/default/src/pages/Page_NotFound.re
_build/default/tests/Page_Home_test.re
_build/default/tests/support/Utils.re
